*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;
}

.content{
    width: 80%;
    margin: auto;
    background-color: #FFF;
    padding: 10px 10px;
    display: flex;
}

#contactform{
    width: 65%;
    border-right: 1px solid #ccc;
}

#contactform>h1{
    margin: 10px 0px;
}
#contactform>p{
    margin: 20px 0px;
    line-height: 25px;
}
#contactform>form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

input{
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
textarea{
    margin-bottom: 20px;
}
#submit{
    width: 35%;
    background-color: rgb(13, 68, 2);
    color: #FFF;
    border:none;
}
#submit:hover{
    cursor: pointer;
}

#address{
    width: 35%;
    padding: 10px 10px;
}
#address>h1{
    margin: 15px 0px;
}
#address>h1~p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
}
iframe{
    margin-top: 50px;
}