
        *{

            box-sizing: border-box;
            font-family: 'Noto Sans', sans-serif;
        }
#black{
    width: 80%;
    margin: auto;
    height: 50px;
    padding: 7px 0px 7px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    background-color:#4A4A4A;
    border-bottom: 9px solid gainsboro;

}
#black > #Match{
    display: flex;
    width:80%;
    color: white;
    justify-content: space-around;
}
#black > #all1{
    height: 40px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#black > #Match >p  {
   padding: 10px 0px 8px 0px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ;
}
#black > #Match >p:hover  {
    background-color: black;
    cursor: pointer;
 }
#all1 > select{
    font-size: 15px;
}

#series{
    width:80%;
    margin: auto;
    border-bottom: 1px solid gainsboro;
    height: 50px;
    display: flex;
    align-items: center;
    background-color:#FFFFFF;
}
#series > div{
    
    display: flex;
    width: 65%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    
}
#body{
    width: 80%;
    margin: auto;
    display: flex;
}
#body > #first{
    width: 65%;
    border-right: 2px solid gainsboro;
    background-color:#FFFFFF;

}
#body > #second{
    width: 35%;
    background-color:#FFFFFF;
    
}
#international{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    
}
#international > #inter{
    margin-left: 70px;
    color: green;
}
#international > #schedule > div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 80%;
    margin-left: 80px;
    font-size:11px;
}
#international > #schedule > div > h2:hover{
    cursor: pointer;
    text-decoration: underline;
}
#international > #schedule > div > p{
        margin-left: 10px;
        font-size: 12px;
}
#schedule > hr{
    margin-left: 80px;
    width: 80%;
    border: 1px solid gainsboro;
}

#league{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    
}
#league > #lg{
    margin-left: 70px;
    color: green;
}
#league > #schedule1 > div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 70%;
    margin-left: 80px;
}
#league > #schedule1 > div > h2:hover{
    cursor: pointer;
    text-decoration: underline;
}
#league > #schedule1 > div > p{
    margin-left: 10px;
    font-size: 12px;
}
#schedule1 > hr{
    margin-left: 80px;
    width: 90%;
}

#domestic{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    
}
#domestic > #dom{
    margin-left: 70px;
    color: green;
}
#domestic > #schedule3 > div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 70%;
    margin-left: 105px;
}
#domestic > #schedule3 > div > h2:hover{
    cursor: pointer;
    text-decoration: underline;
}
#domestic > #schedule3 > div > p{
    margin-left: 10px;
    font-size: 12px;
}
#schedule3 > hr{
    margin-left: 105px;
    width: 75%;
}

#women{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: 11px;
    
}
#women > #wom{
    margin-left: 70px;
    color: green;
}
#women > #schedule4 > div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 125px;
}
#women > #schedule4 > div > h2:hover{
    cursor: pointer;
    text-decoration: underline;
}
#women > #schedule4 > div > p{
    margin-left: 10px;
    font-size: 12px;
}
#schedule4 > hr{
    margin-left: 125px;
    width: 72%;
}


#second > div{
    margin-left: 20px;
}
h2+hr{
    margin-left: 20px;
    border: 1px solid gainsboro;
}
hr + p{
    margin-left: 20px;
    font-size: 17px;
}
#twenty + p{
    margin-left: 20px;
    font-size: 17px;
}
#twenty{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(2,50px);
    grid-template-rows: auto;
    font-size: 12px;
    gap: 5px;
}
#twenty > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#twenty > div{
    background-color: rgb(244, 239, 239);
    padding: 7px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#nineteen{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#nineteen > div{
    background-color: rgb(244, 239, 239);
    padding: 7px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#nineteen > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#nineteen + p{
    margin-left: 20px;
    font-size: 17px;
}
#eighteen{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#eighteen > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#eighteen > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#eighteen + p{
    margin-left: 20px;
    font-size: 15px;
}
#seventeen{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#seventeen > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#seventeen > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#seventeen + p{
    margin-left: 20px;
    font-size: 15px;
}
#sixteen{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#sixteen > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#sixteen > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#sixteen + p{
    margin-left: 20px;
    font-size: 15px;
}
#fifteen{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#fifteen > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#fifteen > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#fifteen + p{
    margin-left: 20px;
    font-size: 17px;
}
#fourteen{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#fourteen > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#fourteen > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#fourteen + p{
    margin-left: 20px;
    font-size: 17px;
}
#thirteen{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#thirteen > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#thirteen > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#thirteen + p{
    margin-left: 20px;
    font-size: 15px;
}
#twelve{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#twelve > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#twelve > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#twelve + p{
    margin-left: 20px;
    font-size: 15px;
}
#eleven{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#eleven > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#eleven > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#eleven + p{
    margin-left: 20px;
    font-size: 15px;
}
#ten{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#ten > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#ten > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#ten + p{
    margin-left: 20px;
    font-size: 15px;
}
#nine{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#nine > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#nine > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#nine + p{
    margin-left: 20px;
    font-size: 15px;
}
#eight{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#eight > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#eight > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#eight+ p{
    margin-left: 20px;
    font-size: 15px;
}
#seven{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#seven > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#seven > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#seven+ p{
    margin-left: 20px;
    font-size: 15px;
}
#six{
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto;
    font-size: 13px;
    gap: 5px;
}
#six > div{
    background-color: rgb(244, 239, 239);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#six > div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


#first > h2{
    margin-left: 30px;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#second > h2{
    margin-left: 30px;
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#series > div > p{
  
  padding: 12px;
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#series > div > p:hover{
    cursor: pointer;
    color: green;
    font-weight: bold;
    border-bottom: 3px solid green;
  }