#latestPhotos{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:10px 15px 15px 15px;
}

#latestPhotos>h5{
color: #009270;
font-weight: bold;
}
#latestPhotos>div{
    width: 90%;
}
#latestPhotos>div>img{
    border-radius: 5px;
}
#latestPhotos>div>a{
color:black;
text-decoration: none;
font-size:13.5px;
}
#latestPhotos>div>a:last-child{
    font-size:11px;
    }
#latestPhotos>div>a:hover{
text-decoration: underline;
}
#latestPhotos>div>p{
font-size:12px;
color:grey;
}
#latestPhotos>div>hr{
    color:grey;
    opacity: 20%;
}